* {margin: 0;padding: 0;border: 0;background:transparent;outline:none;text-decoration:none;outline:none;font-family:inherit;box-sizing:border-box;
}

ol,
ul,
li {
  display:block;
  list-style:none;
}

table {
  border-collapse: collapse;
  border-spacing:0;
}

a img {
  border: none;
}

button,
a {
  cursor: pointer;
  color: inherit;
}

textarea {
  resize: none;
}

button,
input,
textarea,
select {
  appearance: none !important;
  -webkit-appearance: none !important; 
  border-radius: 0;
}

body {
  position: relative;

  font-family: 'Cormorant Garamond', serif;
  font-size: 30px;
  color: #faed26;
  background: url(https://images.unsplash.com/photo-1527064563585-6c7b2c1c3690?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxjb2xsZWN0aW9uLXBhZ2V8MXwxMTQ2NjI5fHxlbnwwfHx8fA%3D%3D&w=1000&q=80) no-repeat;
  background-size: 100%;
}

#root {
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);

  width: 50%;
  height: 500px;
 
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  background-color: #17252a;
  opacity: 0.7;
  
}

header {
  background-color: #0097a7;
  margin: 40px 0;
}

input[type="text"],
input[type="email"] {
  width: 60%;
  margin: 10px;
  
  padding: 12px;
  border: 1px solid #fce181;
  border-radius: 10px;

  font-size: 40px;
  font-family: 'Cormorant Garamond', serif;
  color: #faed26; 
  
  background-color: #9d8d8f;
  font-size: 18px;
}

input[type="checkbox"] {
  width: 5%;
  
  padding: 12px;
  border: 1px solid #fce181;
  border-radius: 10px;

  font-size: 40px;
  color: #faed26; 
  
  background-color: #0097a7;
  font-size: 18px;
}

select {
  width: 20%;
  
  padding: 12px;
  border: 1px solid #fce181;
  border-radius: 10px;
  
  background-color: #9d8d8f;
  font-family: 'Cormorant Garamond', serif;
  font-size: 30px;
  color: #faed26; 
  font-size: 18px;
}

button {
  width: 100px;
  margin-top: 40px;
  padding: 5px;
  border-radius: 10px;
  border: 2px solid #faed26;
  
  background-color: #0097a7;
  font-size: 20px;
  color: #faed26; 
  
}


